<%- include('../partials/head') -%>
    <body>
     
    <%- include('../partials/header2') -%>
<main class="conteiner-products">
  <!-- Mensajes de Verificación -->
  <% if( productdb.length == 0 ){ %>
    <div id="error" class="alert alert-danger mostrar" role="alert">
      La palabra de busqueda no coincide, vuelve a intentar !
  </div>
  <% }%>
    <section class="flex-offers">
        <% for( let i = 0; i < productdb.length; i++ ){ %>
            <article class="flex_article">
                 
                 <div >
                    <a href="/prodb/detail2/<%=productdb[i].id%>">
                    <figure class="flex_img" class="product-box_image">
                    <img src="/img/img-products/<%=productdb[i].image%>" alt="imagen de producto db">
                    </figure>
                </div>
                <!-- agregar css -->
                    <article class="product-box_data">
                    <h2><%= (productdb[i].price)%></h2>
                   
                    <span><%=productdb[i].discount%>% OFF</span>
                    <p><%=productdb[i].name%></p>
                    <i class="fas fa-truck"></i>
                   
                
                    </a>
                    </article>
           
            </article>
            <% }%>
        </section>

    <section class="flex-offers">
  
    </section>
</main>
<script src="/js/coincide.js"></script>    
<%- include('../partials/footer') -%>
    </body>
</html>