
<%- include('../partials/head') -%>
    <body>
       
        <%- include('../partials/header') -%>
                
            <main>
                <section class="mainLogin">
                    <section class="titleLogin">
                        Sign-up / Login
                    </section>                    
                        <& if (typeof errors != 'undefined'){ &>
                            <p style="color:red">ERROR</p>
                            <ul>
                                <& for (let i = 0; i < errors.length; i++) &>
                                <li>
                                    <&= errors[i].msg &>
                                </li>
                                <& } &>
                            </ul>
                        <& } &>
                        <form action="/login" method="POST" >
                            <section class="login">
                                <label><b>Correo electr칩nico:</b></label>
                                <p class="inputText">
                                    <input type="text" name="email" placeholder="Ingresa Correo electr칩nico" >
                                    <% if (locals.errors && errors.email) { %>
                                        <div class="text-danger">
                                            <%= errors.email.msg %>
                                        </div>
                                    <% } %>                                   
                                </p>
                                <label><b>Password:</b></label>
                                <p class="inputText">                                
                                    <input type="password" name="password" placeholder="Ingresa tu contrase침a" >
                                    <% if (locals.errors && errors.password) { %>
                                        <div class="text-danger_falta">
                                            <%= errors.password.msg %>
                                        </div>
                                    <% } %>          
                                </p>
                                <p class="sectionRecordarLogin">                                    
                                   
                                    <label for="recordarme" class="lblRecord">
                                    <input type="checkbox" class="form-check-input" name="remember_user">Recordar mi usuario                                       
                                    </label>
                                </p>
                                <p class="botonlogin">
                                    <input type="submit" name="boton1" value="Login">
                                </p>
                                <p class="botonlogin">
                                    <input type="submit" name="boton2" value="Olvide Mi Contrase침a">
                                </p>
                                <p class="botonlogin">
                                    <input type="submit" name="boton3" value="Registrar">
                                </p> 
                            </section>                           
                        </form>
                    
                </section>
          
            </main>
            <%- include('../partials/footer') -%>
    </body>
</html>