<%- include('../partials/head') -%>
    <body>
<<<<<<< HEAD
     
    <%- include('../partials/header') -%>
<main>


    <% products.forEach( function ( product){ %>
        <div class="col-12 col-sm-6 col-lg-3">
            <section class="product-box">
                <a href="/products/detail/<%=product.id%>">
                    <figure class="product-box_image">
                        <img src="/images/products/<%=product.image%>" alt="imagen de producto">
                    </figure>
                    <article class="product-box_data">
                        <h2><%=toThousand (product.price)%></h2>
                        <span><%=product.discount%>%</span>
                        <p><%=product.name%></p>
                        <i class="fas fa-truck"></i>
                    </article>
                </a>
            </section>
        </div>
        <% })%>

</div>



</main>
        
<%- include('../partials/footer') -%>
    </body>
=======
        
        <%- include('../partials/header') -%>
        
        <main>
            <% products.forEach( function( product ){ %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/detail/<%=product.id%>">
							<figure class="product-box_image">
								<img src="/images/products/<%=product.image%>" alt="imagen de producto">
							</figure>
							<article class="product-box_data">
								<h2>$<%=toThousand( product.price )%></h2>
								<span><%=product.discount%>%</span>
								<p><%=product.name%></p>
								<i class="fas fa-truck"></i>
							</article>
						</a>
					</section>
				</div>
			<% }) %>
        </main>
        
        <%- include('../partials/footer') -%>
            </body>
>>>>>>> d1839f37c1d242572dfb4fde6daf5507a6861055
</html>